.col-lg-12
  %h1.page-header
    = current_provider.name
    %small - Provider
    .panel.panel-default.mt20
      .panel-body
        #chart-container
.col-lg-12
  %h3.pull-left Water Pumps
  .pull-right
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover.mt20
      %thead
        %tr
          %th Location ID
          %th Name
          %th Longitude
          %th Latitude
          %th Status code
          %th
      %tbody
        - current_provider.pumps.each do |pump|
          %tr
            %td= pump.location_id
            %td= link_to pump.name, pump_path(pump)
            %td= pump.longitude
            %td= pump.latitude
            %td= pump.status_code
.col-lg-12
  %h3.pull-left Kiosks
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover.mt20.mb20
      %thead
        %tr
          %th Location ID
          %th Name
          %th Longitude
          %th Latitude
          %th Status code
          %th
      %tbody
        - current_provider.kiosks.each do |kiosk|
          %tr
            %td= kiosk.location_id
            %td= link_to kiosk.name, kiosk_path(kiosk)
            %td= kiosk.longitude
            %td= kiosk.latitude
            %td= kiosk.status_code
.col-lg-12
  %h3.pull-left Employees
  .pull-right
    = button_to "New Employee", new_employee_path, method: "get", class: "btn btn-primary btn-xs mt20"
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover.mt20
      %thead
        %tr
          %th Name
          %th Email
          %th Phone Number
          %th
      %tbody
        - current_provider.employees.each do |employee|
          %tr
            %td= employee.name
            %td= employee.email
            %td= employee.phone_number
            %td
              = link_to '<i class="fa fa-trash fa-fw"></i>'.html_safe, employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' }
              = link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_employee_path(employee)
.row
.col-lg-12
  .panel.panel-default
    .panel-heading
      %i.fa.fa-map-marker.fa-fw
      Water pumps and kiosks
      .pull-right
        .minimize.map-button
          %i.fa.fa-minus.fa-fw
    .panel-body
      #map
