.col-lg-12
  %h1.page-header Edit My Profile
.col-lg-12  
  = form_for current_employee, url: {action:"update_current"} do |f|
    - if flash.any?
      %h4{:style => "font-weight:bold;color:red;"}
        Your profile not saved:
      %ul
        - flash[:error_messages].each do |msg|
          %li{:style => "font-weight:bold;color:red;"}= msg
    .form-group
      = f.label :name
      %br
      = f.text_field :name, class: "form-control", value: current_employee.name
    .form-group
      = f.label :email
      %br
      = f.text_field :email, class: "form-control", value: current_employee.email
    .form-group
      = f.label :phone_number
      %br
      = f.text_field :phone_number, class: "form-control", value: current_employee.phone_number
    .form-group
      = f.label :password
      %br
      = f.text_field :password, class: "form-control", placeholder: "***********"
    .actions
      = f.submit class: "btn btn-default"
