.row
.col-lg-12
  %h1.page-header
    My Profile
.col-lg-12
  %h3.pull-left Account Details
  %p.pull-right.mt20
    = link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, employee_edit_current_path
.col-lg-6
  %table.gen-info
    %col.col-lg-5
    %tr
      %th Name
      %td= current_employee.name
    %tr
      %th Email
      %td= current_employee.email
    %tr
      %th Phone number
      %td= current_employee.phone_number
    %tr
      %th Created at
      %td= current_employee.created_at.strftime('%c')