= form_for [:admin, @hub] do |f|
	- if flash.any?
		%h4{:style => "font-weight:bold;color:red;"}
			Hub not saved:
		%ul
			- flash[:error_messages].each do |msg|
				%li{:style => "font-weight:bold;color:red;"}= msg
	.form-group
		= f.label :type
		= f.select :type, ["Kiosk", "Pump"], {prompt: "Select hub type"}, {class: "form-control"}
	.form-group
		= f.label :location_id
		%br
		= f.text_field :location_id, class: "form-control"
	.form-group
		= f.label :name
		%br
		= f.text_field :name, class: "form-control"
	.form-group
		= f.label :longitude
		%br
		= f.text_field :longitude, class: "form-control"
	.form-group
		= f.label :latitude
		%br
		= f.text_field :latitude, class: "form-control"
	.form-group
		= f.label :status_code
		%br
		= f.text_field :status_code, class: "form-control"
	.form-group
		= f.label :provider
		= f.collection_select :provider_id, Provider.all, :id, :name, {prompt: "Select a provider"}, {class: "form-control"}
	.actions
		= f.submit class: "btn btn-default"
