%li
	= link_to '<i class="fa fa-building-o fa-fw"></i> Provider'.html_safe, new_admin_provider_path
%li.divider
%li
	= link_to '<i class="fa fa-user fa-fw"></i> Provider Employee'.html_safe, new_admin_employee_path
%li.divider
%li
	= link_to '<i class="fa fa-tint fa-fw"></i> Water Pump'.html_safe, new_admin_pump_path
%li.divider
%li
	= link_to '<i class="fa fa-home fa-fw"></i> Water Kiosk'.html_safe, new_admin_kiosk_path
%li.divider
%li
	= link_to '<i class="fa fa-gear fa-fw"></i> Admin Account'.html_safe, new_admin_admin_path
