%li{:class => "#{'active' if params[:controller] == 'admin/dashboard'}"}
	=link_to '<i class="fa fa-dashboard fa-fw"></i> Dashboard'.html_safe, admin_dashboard_path
%li{:class => "#{'active' if params[:controller] == 'admin/providers'}"}
	=link_to '<i class="fa fa-building-o fa-fw"></i> Providers'.html_safe, admin_providers_path
%li{:class => "#{'active' if params[:controller] == 'admin/employees'}"}
	=link_to '<i class="fa fa-user fa-fw"></i> Provider Employees'.html_safe, admin_employees_path
%li{:class => "#{'active' if params[:controller] == 'admin/pumps'}"}
	=link_to '<i class="fa fa-tint fa-fw"></i> Water Pumps'.html_safe, admin_pumps_path
%li{:class => "#{'active' if params[:controller] == 'admin/kiosks'}"}
	=link_to '<i class="fa fa-home fa-fw"></i> Water Kiosks'.html_safe, admin_kiosks_path
%li{:class => "#{'active' if params[:controller] == 'admin/operations'}"}
	=link_to '<i class="fa fa-gear fa-fw"></i> Operations'.html_safe, admin_operations_path