.col-lg-12
  %h1.page-header Susteq Dashboard
  .panel.panel-default.mt20
    .panel-heading
    .panel-body
      #chart-container
.col-lg-12
  %h3 Credits Bought by Kiosk
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover.mt20
      %thead
        %tr
          %th Kiosk Location Id
          %th Credits bought
      %tbody
        - @credits_bought.each do |kiosk|
          %tr
            %td= kiosk[:label]
            %td= kiosk[:value]
.col-lg-12
  %h3 SMS low
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover.mt20
      %thead
        %tr
          %th Hub
          %th request date
          %th Amount
      %tbody
        - @sms.each do |sms|
          %tr
            %td= sms[:location_id]
            %td= sms[:date]
            %td= sms[:total]
.col-lg-12
  %h3 Total Water Dispensed by Water Point
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Water Point
          %th Litres
      %tbody
        - @total_water.each do |hub|
          %tr
            %td= hub[:label]
            %td= hub[:value]
.col-lg-12
  %h3 Shopkeepers credit
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Hub
          %th Date
          %th Credits
      %tbody
        - @shopkeepers_credit.each do |hub|
          %tr
            %td= hub[:label]
            %td= hub[:date]
            %td= hub[:value]
.col-lg-12
  .panel.panel-default
    .panel-heading
      %i.fa.fa-map-marker.fa-fw
      Water points and kiosks
      .pull-right
        .minimize.map-button
          %i.fa.fa-minus.fa-fw
    .panel-body#map


- unless @new_hubs_ids.empty?
  %h3 Hubs with the following location ids have not yet been added to the Hubs table:
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Hub
      %tbody
        - @new_hubs_ids.each do |id|
          %tr
            %td= link_to id, admin_add_new_hub_path(new_hubs_id: id)
