.col-lg-12
  %h1.page-header Susteq Dashboard

.col-lg-12
  %h3 SMS low
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover.mt20
      %thead
        %tr
          %th Hub
          %th request date
          %th Amount
      %tbody
        - @sms.each do |sms|
          %tr
            %td= sms[:location_id]
            %td= sms[:date]
            %td= sms[:total]
.col-lg-12
  %h3 Total Credits Sold
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Hub
          %th Amount
      %tbody
        - @total_credits_sold.each do |hub|
          %tr
            %td= hub[:location_id]
            %td= hub[:location_id]
.col-lg-12
  %h3 Shop Bought
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Layer
          %th Credits
      %tbody
        - @shop_bought.each do |hub|
          %tr
            %td= hub[:location_id]
            %td= hub[:total]
.col-lg-12
  %h3 Total Water
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Layer
          %th Credits
      %tbody
        - @total_water.each do |hub|
          %tr
            %td= hub[:location_id]
            %td= hub[:total]
.col-lg-12
  %h3 Shopkeepers credit
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Hub
          %th Date
          %th Credits
      %tbody
        - @shopkeepers_credit.each do |hub|
          %tr
            %td= hub[:location_id]
            %td= hub[:date]
            %td= hub[:total]
/ .col-lg-12
/   %h3 error codes (30 days)
/   .table-responsive
/     %table#dataTables-example.table.table-striped.table-bordered.table-hover
/       %thead
/         %tr
/           %th Hub
/           %th Day
/           %th Credits
/       %tbody
/         - @error_codes.each do |hub|
/           %tr
/             %td= hub[:location_id]
/             %td= hub.gprs
/             %td= hub.rfid


.col-lg-12
  .panel.panel-default
    .panel-heading
      %i.fa.fa-map-marker.fa-fw
      Water pumps and kiosks
      .pull-right
        .minimize.map-button
          %i.fa.fa-minus.fa-fw
    .panel-body#map
/ - unless @new_hubs_ids.empty?
/   %h3 Hubs with the following location ids have not yet been added to the Hubs table:
/   %table
/     %thead
/       %tr
/         %th Hub
/         %th Day
/     %tbody
/       - @new_hubs_ids.each do |id|
/         %tr
/           %td= link_to id, admin_add_new_hub_path(new_hubs_id: id)

- unless @new_hubs_ids.empty?
  %h3 Hubs with the following location ids have not yet been added to the Hubs table:
  .table-responsive
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Hub
      %tbody
        - @new_hubs_ids.each do |id|
          %tr
            %td= link_to id, admin_add_new_hub_path(new_hubs_id: id)
