.row
	.col-lg-12
		.table-responsive
			%table#dataTables-example.table.table-striped.table-bordered.table-hover.mt20
				%thead
					%tr
						%th Location ID
						%th Name
						%th Provider
						%th Latitude
						%th Longitude
						%th Status Code
						%th
				%tbody
					- @kiosks.each_with_index do |kiosk, index|
						- index % 2 == 0 ? classes = ["odd","gradeX"] : classes = ["even","gradeC"]
						%tr{:class => classes}
							%td= kiosk.location_id
							%td= link_to "#{kiosk.name}", admin_kiosk_path(id:kiosk.id)
							%td= link_to "#{kiosk.provider.name}", admin_provider_path(id:kiosk.provider_id)
							%td= kiosk.latitude
							%td= kiosk.longitude
							%td= kiosk.status_code
							%td
								= link_to '<i class="fa fa-trash fa-fw"></i>'.html_safe, admin_kiosk_path(kiosk), method: :delete, data: { confirm: 'Are you sure?' }
								= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_admin_kiosk_path(kiosk)
:javascript
	$(document).ready(function() {
			$('#dataTables-example').dataTable();
	});
