<h1>create a new kiosk</h1>
<ul>
  <%= form_for [:admin, @kiosk] do |f| %>
  <li>
    <%= f.label :longitude %>
    <%= f.text_field :longitude%>
  </li>
  <li>
    <%= f.label :latitude%>
    <%= f.text_field :latitude %>
  </li>
   <li>
    <%= f.label "location ID" %>
    <%= f.text_field :location_id %>
  </li>
  <li>
    <%= f.label "provider ID" %>
    <%= f.text_field :provider_id  %>
  </li>
  <li>
    <%= f.submit %>
  </li>
<% end%>
</ul>


