.row
	.col-lg-12
		%h1.page-header Adding kiosk
		%ul
			= form_for [:admin, @kiosk] do |f|
				%li
					= f.label :longitude
					= f.text_field :longitude
				%li
					= f.label :latitude
					= f.text_field :latitude
				%li
					= f.label "location ID"
					= f.text_field :location_id
				%li
					= f.label "provider ID"
					= f.text_field :provider_id
				%li
					= f.submit