.row
	.col-lg-12
		%h1.page-header= @kiosk.name
%h3 General information
.row
	.col-lg-6
		%table
			%col.col-lg-5
			%tr
				%th Name
				%td= @kiosk.name
			%tr
				%th Location ID
				%td= @kiosk.location_id
			%tr
				%th Type
				%td= @kiosk.type
			%tr
				%th Provider
				%td= link_to "#{@kiosk.provider.name}", admin_provider_path(id: @kiosk.provider_id)
			%tr
				%th Longitude
				%td= @kiosk.longitude
			%tr
				%th Latitude
				%td= @kiosk.latitude
			%tr
				%th Created at
				%td= @kiosk.created_at
			%tr
				%th Updated at
				%td= @kiosk.updated_at

%h3 Profit by month
=image_tag "chart.png", :style => "width: 100%; margin-bottom: 50px;"
.row
	.col-lg-12
		.table-responsive
			%table#dataTables-example.table.table-basic.table-bordered.table-hover
				%thead
					%tr
						%th Month
						%th Profit
				%tbody
					%tr.odd.gradeX
						%td May
						%td $ 23.835
					%tr.even.gradeC
						%td June
						%td $ 32.142
		/ /.table-responsive
	/ /.col-lg-12
/ Page-Level Demo Scripts - Tables - Use for reference
:javascript
	$(document).ready(function() {
			$('#dataTables-example').dataTable();
	});
