.row
	.col-lg-12
		%h1.page-header= @provider.name
		%h3 General information
.row
	.col-lg-6
		%table
			%tr
				%th Name
				%td= @provider.name
			%tr
				%th Address
				%td= @provider.address
			%tr
				%th Country
				%td= @provider.country
	.col-lg-6
		%table
			%tr
				%th Duns number
				%td= @provider.duns_number
			%tr
				%th Created at
				%td= @provider.created_at
			%tr
				%th Updated at
				%td= @provider.updated_at

.row.col-lg-12
	%h3 Profit by month
	=image_tag "chart.png", :style => "width: 100%; margin-bottom: 50px;"
	%h3 Total water served
	=image_tag "chart.png", :style => "width: 100%; margin-bottom: 50px;"
.row.col-lg-12
	%h3.pull-left Water pumps
	.pull-right
		= button_to "New pump", new_admin_pump_path, method: "get", class: "btn btn-primary btn-xs mt20"
.row.col-lg-12
	.table-responsive
		%table.table.table-striped.table-bordered.table-hover.mt20
			%thead
				%tr
					%th Location ID
					%th Name
					%th Longitude
					%th Latitude
					%th Status code
					%th
			%tbody
				- @pumps.each do |pump|
					%tr
						%td= link_to pump.location_id, admin_pump_path(pump)
						%td= pump.name
						%td= pump.longitude
						%td= pump.latitude
						%td= pump.status_code
						%td
							= link_to '<i class="fa fa-trash fa-fw"></i>'.html_safe, admin_provider_pump_path(@provider,pump), method: :delete, data: { confirm: 'Are you sure?' }
							= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_admin_provider_pump_path(@provider,pump)
.row.col-lg-12
	%h3.pull-left Kiosks
	.pull-right
		= button_to "New Kiosk", new_admin_kiosk_path, method: "get", class: "btn btn-primary btn-xs mt20"
.row.col-lg-12
	.table-responsive
		%table.table.table-striped.table-bordered.table-hover.mt20
			%thead
				%tr
					%th Location ID
					%th Name
					%th Longitude
					%th Latitude
					%th Status code
					%th
			%tbody
				- @kiosks.each do |kiosk|
					%tr
						%td= link_to kiosk.location_id, admin_kiosk_path(kiosk)
						%td= kiosk.name
						%td= kiosk.longitude
						%td= kiosk.latitude
						%td= kiosk.status_code
						%td
							= link_to '<i class="fa fa-trash fa-fw"></i>'.html_safe, admin_provider_kiosk_path(@provider, kiosk), method: :delete, data: { confirm: 'Are you sure?' }
							= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_admin_provider_kiosk_path(@provider,kiosk)
.row.col-lg-12
	%h3.pull-left Employees
	.pull-right
		= button_to "New Employee", new_admin_provider_employee_path(@provider), method: "get", class: "btn btn-primary btn-xs mt20"
.row.col-lg-12
	.table-responsive
		%table.table.table-striped.table-bordered.table-hover.mt20
			%thead
				%tr
					%th Name
					%th Email
					%th Phone Number
					%th
			%tbody
				- @employees.each do |employee|
					%tr
						%td= employee.name
						%td= employee.email
						%td= employee.phone_number
						%td
							= link_to '<i class="fa fa-trash fa-fw"></i>'.html_safe, admin_provider_employee_path(@provider, employee), method: :delete, data: { confirm: 'Are you sure?' }
							= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_admin_provider_employee_path(@provider,employee)
.row
