.col-lg-12
	%h1.page-header Operations
.col-lg-12
	%h3 SMS low
	.table-responsive
		%table#dataTables-example.table.table-striped.table-bordered.table-hover.mt20
			%thead
				%tr
					%th Hub
					%th request date
					%th Amount
			%tbody
				- @sms.each do |sms|
					%tr
						%td= sms[:location_id]
						%td= sms[:date]
						%td= sms[:total]
	%h3 Credits Bought by Kiosk
	.table-responsive
		%table#dataTables-example.table.table-striped.table-bordered.table-hover.mt20
			%thead
				%tr
					%th Kiosk Location Id
					%th Credits bought
			%tbody
				- @credits_bought.each do |kiosk|
					%tr
						%td= kiosk[:label]
						%td= kiosk[:value]
.col-lg-12
	%h3 Total Water Dispensed by Water Point
	.table-responsive
		%table#dataTables-example.table.table-striped.table-bordered.table-hover
			%thead
				%tr
					%th Water Point
					%th Litres
			%tbody
				- @total_water.each do |hub|
					%tr
						%td= hub[:label]
						%td= hub[:value]
.col-lg-12
	%h3 Shopkeepers credit
	.table-responsive
		%table#dataTables-example.table.table-striped.table-bordered.table-hover
			%thead
				%tr
					%th Hub
					%th Date
					%th Credits
			%tbody
				- @shopkeepers_credit.each do |hub|
					%tr
						%td= hub[:label]
						%td= hub[:date]
						%td= hub[:value]
/ .col-lg-12
/ 	%h3 error codes (30 days)
/ 	.table-responsive
/ 		%table#dataTables-example.table.table-striped.table-bordered.table-hover
/ 			%thead
/ 				%tr
/ 					%th Hub
/ 					%th Day
/ 					%th Credits
/ 			%tbody
/ 				- @error_codes.each do |hub, value|
/ 					%tr
/ 						%td= hub
/ 						%td= hub[:gprs]
/ 						%td= hub[:rfid]
/ 						%td= hub[:bat_low]
/ 						%td= hub[:bat_ok]
