<h1 >Edit your pump info</h1>
<ul>
  <%= form_for :pump, url: admin_pump_path(@pump), method: 'put'  do |f| %>
  <li>
    <%= f.label :longitude %>
    <%= f.text_field :longitude, :value => @pump.longitude%>
  </li>
  <li>
    <%= f.label :latitude%>
    <%= f.text_field :latitude, :value => @pump.latitude %>
  </li>
   <li>
    <%= f.label :location_id %>
    <%= f.text_field :location_id, :value => @pump.location_id %>
  </li>
  <li>
    <%= f.label :provider_id %>
    <%= f.text_field :provider_id, :value => @pump.provider_id  %>
  </li>
  <li>
    <%= f.submit %>
  </li>
<% end%>
</ul>
