.row
	.col-lg-12
		%h1.pull-left Pumps
		= link_to '<button class="btn btn-primary btn-lg pull-right mt20" type="button"><i class="fa fa-plus fa-fw"></i>New pump</button>'.html_safe, new_admin_pump_path

%p <b>INSERT PUMPS INDEX PARTIAL HERE</b>
%hr
.row
	.col-lg-12
		.table-responsive
			%table#dataTables-example.table.table-striped.table-bordered.table-hover
				%thead
					%tr
						%th Name
						%th Provider
						%th Country
				%tbody
					- @pumps.each_with_index do |pump, index|
						- index % 2 == 0 ? classes = ["odd","gradeX"] : classes = ["even","gradeC"]
						%tr{:class => classes}
							%td= link_to "#{pump.name}", admin_pump_path(id:pump.id)
							%td= link_to "#{pump.provider.name}", admin_provider_path(id:pump.provider_id)
							%td Kenya
:javascript
	$(document).ready(function() {
			$('#dataTables-example').dataTable();
	});
