.row
	.col-lg-12
		%h1.page-header New pump
= form_for [:admin, @pump] do |f|
	.form-group
		= f.label :longitude
		%br
		= f.text_field :longitude, class: "form-control"
	.form-group
		= f.label :latitude
		%br
		= f.text_field :latitude, class: "form-control"
	.form-group
		= f.label :location_id
		%br
		= f.text_field :location_id, class: "form-control"
	.form-group
		= f.label :provider
		%select.form-control
			%option
				Select provider
				- @providers.each do |provider|
					%option{:value => provider.id}
						=provider.name
	.actions
		= f.submit class: "btn btn-default"

