.row
  .col-lg-12
    .table-responsive
      %table#dataTables-example.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Status
            %th Credits Sold
        %tbody
          - @kiosks.each_with_index do |kiosk, index|
            - index % 2 == 0 ? classes = ["odd","gradeX"] : classes = ["even","gradeC"]
            %tr{:class => classes}
              %td= link_to "#{kiosk.name}", kiosk_path(id: kiosk.id)
              %td= "[status here]"
              %td= "#{kiosk.credits_sold}"
