%h1= "Kiosk number #{@kiosk.id}"

%h3 Awesome Chart Title
#chart-container

%ul
	- @kiosk.transactions.each do |t|
		%li= "Transaction ID: #{t.id}; transaction code: #{t.transaction_code}; transaction amount: #{t.amount}."
