.row
  .col-lg-12
    .table-responsive
      %table#dataTables-example.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Location Id
            %th Name
            %th Water Pumped
            %th Status Code
            %th Longitude
            %th Latitude
        %tbody
          - @pumps.each_with_index do |pump, index|
            - index % 2 == 0 ? classes = ["odd","gradeX"] : classes = ["even","gradeC"]
            %tr{:class => classes}
              %td= pump.location_id
              %td= link_to "#{pump.name}", pump_path(pump)
              %td= @total_dispensed
              %td= pump.status_code
              %td= pump.longitude
              %td= pump.latitude
