.col-lg-12
	%h1.page-header
		= @pump.name
		%small - Pump
.col-lg-12
	%h3.pull-left General information
.col-lg-6
	%table.gen-info
		%col.col-lg-5
		%col.col-lg-5
		%tr
			%th Name
			%td= @pump.name
		%tr
			%th Location ID
			%td= @pump.location_id

.col-lg-6
	%table.gen-info
		%col.col-lg-5
		%col.col-lg-5
		%tr
			%th Longitude
			%td= @pump.longitude
		%tr
			%th Latitude
			%td= @pump.latitude
.col-lg-12
	%h3 Profit by month
	=image_tag "chart.png", :style => "width: 100%; margin-bottom: 50px;"
.col-lg-12
	%h3 Total transactions per month
	.table-responsive
		%table#dataTables-example.table.table-basic.table-bordered.table-hover.mt20
			%thead
				%tr
					%th Month
					%th Profit
			%tbody
				%tr.odd.gradeX
					%td May
					%td $ 23.835
				%tr.even.gradeC
					%td June
					%td $ 32.142
.row
.col-lg-12
	%h3 Latest transactions
	.table-responsive
		%table#dataTables-example.table.table-basic.table-bordered.table-hover.mt20
			%thead
				%tr
					%th Transaction ID
					%th Transaction code
					%th Transaction amount
					%th Transaction date
			%tbody
				- @pump.transactions.each do |t|
					%tr	
						%td= t.id 
						%td= t.transaction_code
						%td= t.amount
						%td= t.transaction_time
.row
:javascript
	$(document).ready(function() {
			$('#dataTables-example').dataTable();
	});
