<h1>Water dispense per month for given pump</h1>
<%= @viz_data_pump %>
<br><br>
<h1>Credits by Month for given kiosk</h1>
<%= @viz_data_kiosk %>
<br><br>
<h1>Credits by Month by Kiosk</h1>
<%= @viz_data_credits_by_month %>
<br><br>
<h1>Credits by Kiosk overall</h1>
<%= @viz_data_credits_by_kiosk %>
<br><br>
<h1>Credits by kiosk for provider</h1>
<%= @viz_data_credits_by_kiosk_for_provider %>
<br><br>
<h1>Water Dispensed by pump for given provider</h1>
<%= @viz_data_dispensed_by_pump_for_provider %>
<br><br>
<h1>Credits Bought by Kiosk</h1>
<%= @viz_data_credits_bought_by_kiosk %>
<h1>Credits Remaining by Kiosk</h1>
<%= @viz_data_credits_remaining_by_kiosk %>

